extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action="/auth/login", method="post") 
    label(for="id") ID
    input(type="text", name="id")
    br
    label(for="pw") PW 
    input(type="password", name="pw")
    input(type="submit", value="로그인")